@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<span class="fs-2 border-bottom border-dark border-2 pb-2 ">Story</span>
                <hr style="margin-top: 6px;" class="mb-5">

                <table id="datatable" class="table table-borderless">
                    <thead class="table-light text-primary">
                        <tr>
                            <th>Story ID</th>
                            <th>Story Title</th>
                            <th>User Id</th>
                            <th>User Name</th>
                            <th>Status</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Jhon doe do xyz abc</td>
                            <td>133541</td>
                            <td>fgh ffkn</td>
                            <td class="text-success fw-bold">Active</td>
                            <td><i class="bi bi-trash text-danger"></i></td>
                            <td><button type="button" class="btn btn-outline-secondary rounded-pill w-100">
                                    <span class="text-wrap">view</span>
                                </button></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>smae ahfd asbhe shsau</td>
                            <td>564064</td>
                            <td>jorsy</td>
                            <td class="text-success fw-bold">Active</td>
                            <td><i class="bi bi-trash text-danger"></i></td>
                            <td><button type="button" class="btn btn-outline-secondary rounded-pill w-100">
                                    <span class="text-wrap">view</span>
                                </button></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Jhon doe3dude oahhwfna ytcdayc</td>
                            <td>0656065</td>
                            <td>miamama</td>
                            <td class="text-success fw-bold">Active</td>
                            <td><i class="bi bi-trash text-danger"></i></td>
                            <td><button type="button" class="btn btn-outline-secondary rounded-pill w-100">
                                    <span class="text-wrap">view</span>
                                </button></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Jhon doe4yasbyudiz</td>
                            <td>054044</td>
                            <td>websmith</td>
                            <td class="text-success fw-bold">Active</td>
                            <td><i class="bi bi-trash text-danger"></i></td>
                            <td><button type="button" class="btn btn-outline-secondary rounded-pill w-100">
                                    <span class="text-wrap">view</span>
                                </button></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Jhon doe5redixweb</td>
                            <td>41242</td>
                            <td>mamusn</td>
                            <td class="text-success fw-bold">Active</td>
                            <td><i class="bi bi-trash text-danger"></i></td>
                            <td><button type="button" class="btn btn-outline-secondary rounded-pill w-100">
                                    <span class="text-wrap">view</span>
                                </button></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Jhon doe do xyz abc</td>
                            <td>133541</td>
                            <td>fgh ffkn</td>
                            <td class="text-success fw-bold">Active</td>
                            <td><i class="bi bi-trash text-danger"></i></td>
                            <td><button type="button" class="btn btn-outline-secondary rounded-pill w-100">
                                    <span class="text-wrap">view</span>
                                </button></td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>smae ahfd asbhe shsau</td>
                            <td>564064</td>
                            <td>jorsy</td>
                            <td class="text-success fw-bold">Active</td>
                            <td><i class="bi bi-trash text-danger"></i></td>
                            <td><button type="button" class="btn btn-outline-secondary rounded-pill w-100">
                                    <span class="text-wrap">view</span>
                                </button></td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>Jhon doe3dude oahhwfna ytcdayc</td>
                            <td>0656065</td>
                            <td>miamama</td>
                            <td class="text-success fw-bold">Active</td>
                            <td><i class="bi bi-trash text-danger"></i></td>
                            <td><button type="button" class="btn btn-outline-secondary rounded-pill w-100">
                                    <span class="text-wrap">view</span>
                                </button></td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>Jhon doe4yasbyudiz</td>
                            <td>054044</td>
                            <td>websmith</td>
                            <td class="text-success fw-bold">Active</td>
                            <td><i class="bi bi-trash text-danger"></i></td>
                            <td><button type="button" class="btn btn-outline-secondary rounded-pill w-100">
                                    <span class="text-wrap">view</span>
                                </button></td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>Jhon doe5redixweb</td>
                            <td>41242</td>
                            <td>mamusn</td>
                            <td class="text-success fw-bold">Active</td>
                            <td><i class="bi bi-trash text-danger"></i></td>
                            <td><button type="button" class="btn btn-outline-secondary rounded-pill w-100">
                                    <span class="text-wrap">view</span>
                                </button></td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>Jhon doe do xyz abc</td>
                            <td>133541</td>
                            <td>fgh ffkn</td>
                            <td class="text-success fw-bold">Active</td>
                            <td><i class="bi bi-trash text-danger"></i></td>
                            <td><button type="button" class="btn btn-outline-secondary rounded-pill w-100">
                                    <span class="text-wrap">view</span>
                                </button></td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>smae ahfd asbhe shsau</td>
                            <td>564064</td>
                            <td>jorsy</td>
                            <td class="text-success fw-bold">Active</td>
                            <td><i class="bi bi-trash text-danger"></i></td>
                            <td><button type="button" class="btn btn-outline-secondary rounded-pill w-100">
                                    <span class="text-wrap">view</span>
                                </button></td>
                        </tr>
                        <tr>
                            <td>13</td>
                            <td>Jhon doe3dude oahhwfna ytcdayc</td>
                            <td>0656065</td>
                            <td>miamama</td>
                            <td class="text-success fw-bold">Active</td>
                            <td><i class="bi bi-trash text-danger"></i></td>
                            <td><button type="button" class="btn btn-outline-secondary rounded-pill w-100">
                                    <span class="text-wrap">view</span>
                                </button></td>
                        </tr>
                        <tr>
                            <td>14</td>
                            <td>Jhon doe4yasbyudiz</td>
                            <td>054044</td>
                            <td>websmith</td>
                            <td class="text-success fw-bold">Active</td>
                            <td><i class="bi bi-trash text-danger"></i></td>
                            <td><button type="button" class="btn btn-outline-secondary rounded-pill w-100">
                                    <span class="text-wrap">view</span>
                                </button></td>
                        </tr>
                        <tr>
                            <td>15</td>
                            <td>Jhon doe5redixweb</td>
                            <td>41242</td>
                            <td>mamusn</td>
                            <td class="text-success fw-bold">Active</td>
                            <td><i class="bi bi-trash text-danger"></i></td>
                            <td><button type="button" class="btn btn-outline-secondary rounded-pill w-100">
                                    <span class="text-wrap">view</span>
                                </button></td>
                        </tr>


                    </tbody>
                </table>
       