<div class="container-lg">

        <!-- #region pills -->
        <div class="mt-md-3 mb-md-3">
            <button type="button" class="btn btn-sm btn-outline-dark rounded-pill mt-1">
                <span class="text-wrap">Tree Plantation</span>
                <i class="bi bi-x"></i>
            </button>
            <button type="button" class="btn btn-sm btn-outline-dark rounded-pill mt-1">
                <span class="text-wrap">Canada</span>
                <i class="bi bi-x"></i>
            </button>
            <button type="button" class="btn btn-sm btn-outline-dark rounded-pill mt-1">
                <span class="text-wrap">Toronto</span>
                <i class="bi bi-x"></i>
            </button>
            <button type="button" class="btn btn-sm btn-outline-dark rounded-pill mt-1">
                <span class="text-wrap">Montreal</span>
                <i class="bi bi-x"></i>
            </button>
            <button type="button" class="btn btn-sm btn-outline-dark rounded-pill mt-1">
                <span class="text-wrap">Environment</span>
                <i class="bi bi-x"></i>
            </button>
            <button type="button" class="btn btn-sm btn-outline-dark rounded-pill mt-1">
                <span class="text-wrap">Nutrition</span>
                <i class="bi bi-x"></i>
            </button>
            <button type="button" class="btn btn-sm btn-outline-dark rounded-pill mt-1">
                <span class="text-wrap">Anthropology</span>
                <i class="bi bi-x"></i>
            </button>
            <button type="button" class="btn btn-sm btn-outline-dark rounded-pill mt-1">
                <span class="text-wrap">Environmental</span>
                <i class="bi bi-x"></i>
            </button>

            <a class="ms-2 " style="text-decoration: none; color:black;" href="#">
                Clear all
            </a>
        </div>
        <!--endregion pills end  -->

        <!-- #region Explore & short BY -->
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <label class="fs-4">Explore <span class="fw-semibold">72 mission</span></label>
                <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll">
                    <li class="nav-item dropdown me-md-4 d-none d-lg-block">
                        <a class="nav-link border" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Sort By <span class="ms-5 float-end"><i class="bi bi-chevron-down"></i></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Newest</a></li>
                            <li><a class="dropdown-item" href="#">Oldest</a></li>
                            <li><a class="dropdown-item" href="#">Lowest available seats</a></li>
                            <li><a class="dropdown-item" href="#">Highest available seats</a></li>
                            <li><a class="dropdown-item" href="#">Sort by my favourite</a></li>
                            <li><a class="dropdown-item" href="#">Sort by deadline</a></li>
                        </ul>
                    </li>

                    <li class="nav-item ms-2 d-none d-lg-block">
                        <button class="rounded-circle btn btn-light"><i class="bi bi-grid"></i></button>
                    </li>
                    <li class="nav-item ms-1 d-none d-lg-block">
                        <button class="rounded-circle btn btn-light"><i class="bi bi-list"></i></button>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- endregion Explore & short BY End-->

        <!-- #region Grid View -->

        <div class="row mb-5">

            <div class="col-sm-12 col-md-4 mb-4">
                <div class="card  cardWidth shadow h-100">
                    <img src="~/Assets/card_1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="cardTitleAction">
                            <span class="text-wrap btn btn-sm rounded-pill cardTitleSubAction"
                                style="background-color: white; color: #757575; ">
                                Environment</span>
                        </div>
                        <button type="button" style="color: white; background-color: black; "
                            class="btn btn-sm btn-outline-dark float-end rounded-pill cardLocation">
                            <i class="bi bi-geo-alt"></i>
                            <span class="text-wrap">Toronto</span>
                        </button>
                        <button type="button" style="color: white; background-color: black; "
                            class="btn btn-sm btn-outline-dark float-end rounded-pill cardLike">
                            <i class="bi bi-suit-heart"></i>
                        </button>
                        <button type="button" style="color: white; background-color: black; "
                            class="btn btn-sm btn-outline-dark float-end rounded-pill cardAddPeople">
                            <i class="bi bi-person-plus"></i>
                        </button>
                        <h5 class="card-title cardTitle">Grow Trees - On the path to environment sustainability</h5>
                        <p class="card-text cardText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore...</p>
                        <div class="mt-1 mb-4">
                            <span class="float-start">Tree Canada</span>
                            <span class="float-end">
                                <i class="bi bi-star-fill text-warning "></i>
                                <i class="bi bi-star-fill text-warning "></i>
                                <i class="bi bi-star-fill text-warning "></i>
                                <i class="bi bi-star-fill text-black-50 "></i>
                                <i class="bi bi-star-fill text-black-50 "></i>
                            </span>
                        </div>
                        <br>
                        <div>
                            <div class="cardAction">
                                <span class="text-wrap btn btn-sm btn-outline-dark rounded-pill subAction"
                                    style="background-color: white; color: #757575; ">
                                    From 10/01/2019 until 25/02/2019</span>
                            </div>
                            <hr style=" z-index: -12; margin-left: -4.3%; margin-right: -4.3%;">
                        </div>

                        <div class="row mt-4">
                            <div class="col-6 text-wrap">
                                <span class="cardDedlineSeats"><i class="bi bi-person-check me-2 ms-3"></i>10</span>
                                <br style="margin: 0px;">
                                <span class="cardSmallText ms-4">Seats left</span>
                            </div>
                            <div class="col-6 text-wrap">
                                <span class="cardDedlineSeats"><i class="bi bi-clock me-2 ms-3"></i>03/10/2022</span>
                                <br style="padding: 0px;">
                                <span class="cardSmallText ms-5">Dedline</span>
                            </div>
                        </div>
                        <hr style=" margin-left: -4.3%; margin-right: -4.3%;">

                        <div class="cardAction mb-1">
                            <button type="button" class="btn btn-outline-warning rounded-pill"
                                style="margin-left: auto; margin-right: auto;">
                                <span class="text-wrap">Apply</span>
                                <i class="bi bi-arrow-right ms-2"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-4 mb-4">
                <div class="card cardWidth shadow h-100">
                    <img src="~/Assets/card_2.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="cardTitleAction">
                            <span class="text-wrap btn btn-sm rounded-pill cardTitleSubAction"
                                style="background-color: white; color: #757575; ">
                                Children</span>
                        </div>
                        <button type="button" style="color: white; background-color: black;   "
                            class="btn btn-sm btn-outline-dark float-end rounded-pill cardLocation">
                            <i class="bi bi-geo-alt"></i>
                            <span class="text-wrap">Melbouren</span>
                        </button>
                        <button type="button" style="color: white; background-color: black;   "
                            class="btn btn-sm btn-outline-dark float-end rounded-pill cardLike">
                            <i class="bi bi-suit-heart"></i>
                        </button>
                        <button type="button" style="color: white; background-color: black;   "
                            class="btn btn-sm btn-outline-dark float-end rounded-pill cardAddPeople">
                            <i class="bi bi-person-plus"></i>
                        </button>
                        <h5 class="card-title cardTitle">Education Supplies for Every Pair of Shoes Sold</h5>
                        <p class="card-text cardText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore...</p>
                        <div class="mt-1 mb-4">
                            <span class="float-start">Australian Paradise</span>
                            <span class="float-end">
                                <i class="bi bi-star-fill text-warning "></i>
                                <i class="bi bi-star-fill text-warning "></i>
                                <i class="bi bi-star-fill text-warning "></i>
                                <i class="bi bi-star-fill text-black-50 "></i>
                                <i class="bi bi-star-fill text-black-50 "></i>
                            </span>
                        </div>
                        <br>
                        <div>
                            <div class="cardAction">
                                <span class="text-wrap btn btn-sm btn-outline-dark rounded-pill subAction"
                                    style="background-color: white; color: #757575; ">
                                    From 10/01/2019 until 25/02/2019</span>
                            </div>
                            <hr style=" z-index: -12;  margin-left: -4.3%; margin-right: -4.3%;">
                        </div>

                        <div class="row mt-4">
                            <div class="col-6 text-wrap">
                                <span class="cardDedlineSeats"><i class="bi bi-person-check me-2 ms-3"></i>10</span>
                                <br style="margin: 0px;">
                                <span class="cardSmallText ms-4">Seats left</span>
                            </div>
                            <div class="col-6 text-wrap">
                                <span class="cardDedlineSeats"><i class="bi bi-clock me-2 ms-3"></i>03/10/2022</span>
                                <br style="padding: 0px;">
                                <span class="cardSmallText ms-5">Dedline</span>
                            </div>
                        </div>
                        <hr style="margin-left: -4.3%; margin-right: -4.3%;">

                        <div class="cardAction mb-1">
                            <button type="button" class="btn btn-outline-warning rounded-pill"
                                style="margin-left: auto; margin-right: auto;">
                                <span class="text-wrap">Apply</span>
                                <i class="bi bi-arrow-right ms-2"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-4 mb-4">
                <div class="card  cardWidth shadow h-100">
                    <img src="./assets/card_3.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="cardTitleAction">
                            <span class="text-wrap btn btn-sm rounded-pill cardTitleSubAction"
                                style="background-color: white; color: #757575; ">
                                Nutrition</span>
                        </div>
                        <button type="button" style="color: white; background-color: black;   "
                            class="btn btn-sm btn-outline-dark float-end rounded-pill cardLocation">
                            <i class="bi bi-geo-alt"></i>
                            <span class="text-wrap">Barcelona</span>
                        </button>
                        <button type="button" style="color: white; background-color: black;   "
                            class="btn btn-sm btn-outline-dark float-end rounded-pill cardLike">
                            <i class="bi bi-suit-heart"></i>
                        </button>
                        <button type="button" style="color: white; background-color: black;   "
                            class="btn btn-sm btn-outline-dark float-end rounded-pill cardAddPeople">
                            <i class="bi bi-person-plus"></i>
                        </button>
                        <h5 class="card-title cardTitle">Nourish the Children in African country</h5>
                        <p class="card-text cardText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore...</p>
                        <div class="mt-1 mb-4">
                            <span class="float-start">The Hunger</span>
                            <span class="float-end">
                                <i class="bi bi-star-fill text-warning "></i>
                                <i class="bi bi-star-fill text-warning "></i>
                                <i class="bi bi-star-fill text-warning "></i>
                                <i class="bi bi-star-fill text-black-50 "></i>
                                <i class="bi bi-star-fill text-black-50 "></i>
                            </span>
                        </div>
                        <br>
                        <div>
                            <div class="cardAction">
                                <span class="text-wrap btn btn-sm btn-outline-dark rounded-pill subAction"
                                    style="background-color: white; color: #757575; ">
                                    Ongoing Opportunity</span>
                            </div>
                            <hr style=" z-index: -12; margin-left: -4.3%; margin-right: -4.3%;">
                        </div>

                        <div class="row mt-4">
                            <div class="col-6 text-wrap">
                                <span class="cardDedlineSeats"><i class="bi bi-person-check me-2 ms-3"></i>10</span>
                                <br style="margin: 0px;">
                                <span class="cardSmallText ms-4">Seats left</span>
                            </div>
                            <div class="col-6 text-wrap">
                                <span class="cardDedlineSeats"><i class="bi bi-clock me-2 ms-3"></i>03/10/2022</span>
                                <br style="padding: 0px;">
                                <span class="cardSmallText ms-5">Dedline</span>
                            </div>
                        </div>
                        <hr style="margin-left: -4.3%; margin-right: -4.3%;">

                        <div class="cardAction mb-1">
                            <button type="button" class="btn btn-outline-warning rounded-pill"
                                style="margin-left: auto; margin-right: auto;">
                                <span class="text-wrap">Apply</span>
                                <i class="bi bi-arrow-right ms-2"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-4 mb-4">
                <div class="card cardWidth shadow h-100">
                    <img src="./assets/card_4.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="cardTitleAction">
                            <span class="text-wrap btn btn-sm rounded-pill cardTitleSubAction"
                                style="background-color: white; color: #757575; ">
                                Environment</span>
                        </div>
                        <button type="button" style="color: white; background-color: black;   "
                            class="btn btn-sm btn-outline-dark float-end rounded-pill cardLocation">
                            <i class="bi bi-geo-alt"></i>
                            <span class="text-wrap">London</span>
                        </button>
                        <button type="button" style="color: white; background-color: black;   "
                            class="btn btn-sm btn-outline-dark float-end rounded-pill cardLike">
                            <i class="bi bi-suit-heart"></i>
                        </button>
                        <button type="button" style="color: white; background-color: black;   "
                            class="btn btn-sm btn-outline-dark float-end rounded-pill cardAddPeople">
                            <i class="bi bi-person-plus"></i>
                        </button>
                        <h5 class="card-title cardTitle">CSR initiative stands for Coffee and Farmer Equity</h5>
                        <p class="card-text cardText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore...</p>
                        <div class="mt-1 mb-4">
                            <span class="float-start">CSE Network</span>
                            <span class="float-end">
                                <i class="bi bi-star-fill text-warning "></i>
                                <i class="bi bi-star-fill text-warning "></i>
                                <i class="bi bi-star-fill text-warning "></i>
                                <i class="bi bi-star-fill text-black-50 "></i>
                                <i class="bi bi-star-fill text-black-50 "></i>
                            </span>
                        </div>
                        <br>
                        <div>
                            <div class="cardAction">
                                <span class="text-wrap btn btn-sm btn-outline-dark rounded-pill subAction"
                                    style="background-color: white; color: #757575; ">
                                    Ongoing Opportunity</span>
                            </div>
                            <hr style=" z-index: -12;  margin-left: -4.3%; margin-right: -4.3%;">
                        </div>

                        <div class="row mt-4">
                            <div class="col-6 text-wrap">
                                <span class="cardDedlineSeats"><i class="bi bi-person-check me-2 ms-3"></i>10</span>
                                <br style="margin: 0px;">
                                <span class="cardSmallText ms-4">Seats left</span>
                            </div>
                            <div class="col-6 text-wrap">
                                <span class="cardDedlineSeats"><i class="bi bi-clock me-2 ms-3"></i>03/10/2022</span>
                                <br style="padding: 0px;">
                                <span class="cardSmallText ms-5">Dedline</span>
                            </div>
                        </div>
                        <hr style=" margin-left: -4.3%; margin-right: -4.3%;">

                        <div class="cardAction mb-1">
                            <button type="button" class="btn btn-outline-warning rounded-pill"
                                style="margin-left: auto; margin-right: auto;">
                                <span class="text-wrap">Apply</span>
                                <i class="bi bi-arrow-right ms-2"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-4 mb-4">
                <div class="card  cardWidth shadow h-100">
                    <img src="./assets/card_5.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="cardTitleAction">
                            <span class="text-wrap btn btn-sm rounded-pill cardTitleSubAction"
                                style="background-color: white; color: #757575; ">
                                Animals</span>
                        </div>
                        <button type="button" style="color: white; background-color: black;   "
                            class="btn btn-sm btn-outline-dark float-end rounded-pill cardLocation">
                            <i class="bi bi-geo-alt"></i>
                            <span class="text-wrap">Cape Town</span>
                        </button>
                        <button type="button" style="color: white; background-color: black;   "
                            class="btn btn-sm btn-outline-dark float-end rounded-pill cardLike">
                            <i class="bi bi-suit-heart"></i>
                        </button>
                        <button type="button" style="color: white; background-color: black;   "
                            class="btn btn-sm btn-outline-dark float-end rounded-pill cardAddPeople">
                            <i class="bi bi-person-plus"></i>
                        </button>
                        <h5 class="card-title cardTitle">Animal welfare & save birds campaign</h5>
                        <p class="card-text cardText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore...</p>
                        <div class="mt-1 mb-4">
                            <span class="float-start">JR Foundation</span>
                            <span class="float-end">
                                <i class="bi bi-star-fill text-warning "></i>
                                <i class="bi bi-star-fill text-warning "></i>
                                <i class="bi bi-star-fill text-warning "></i>
                                <i class="bi bi-star-fill text-black-50 "></i>
                                <i class="bi bi-star-fill text-black-50 "></i>
                            </span>
                        </div>
                        <br>
                        <div>
                            <div class="cardAction">
                                <span class="text-wrap btn btn-sm btn-outline-dark rounded-pill subAction"
                                    style="background-color: white; color: #757575; ">
                                    Plant 10,000 Trees</span>
                            </div>
                            <hr style=" z-index: -12;  margin-left: -4.3%; margin-right: -4.3%;">
                        </div>

                        <div class="row mt-4">
                            <div class="col-5 text-wrap">
                                <span class="cardDedlineSeats"><i class="bi bi-person-check me-2 ms-3"></i>10</span>
                                <br style="margin: 0px;">
                                <span class="cardSmallText ms-4">Seats left</span>
                            </div>

                            <div class="col-1"><i class="bi bi-vinyl"></i></div>
                            <div class="col-5 text-wrap d-inline">
                                <span class="progress" style="height: 10px; margin-top: 8px; width: 100%;">
                                    <span class="progress-bar bg-warning" role="progressbar" aria-label="Basic example"
                                        style="width: 68%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="75">
                                    </span>
                                </span>
                                <span class="cardSmallText ms-5">Dedline</span>
                            </div>
                        </div>

                        <hr style=" margin-left: -4.3%; margin-right: -4.3%;">

                        <div class="cardAction mb-1">
                            <button type="button" class="btn btn-outline-warning rounded-pill"
                                style="margin-left: auto; margin-right: auto;">
                                <span class="text-wrap">Apply</span>
                                <i class="bi bi-arrow-right ms-2"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-4 mb-4">
                <div class="card  cardWidth shadow h-100">
                    <img src="./assets/card_6.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="cardTitleAction">
                            <span class="text-wrap btn btn-sm rounded-pill cardTitleSubAction"
                                style="background-color: white; color: #757575; ">
                                Health</span>
                        </div>
                        <button type="button" style="color: white; background-color: black;   "
                            class="btn btn-sm btn-outline-dark float-end rounded-pill cardLocation">
                            <i class="bi bi-geo-alt"></i>
                            <span class="text-wrap">Paris</span>
                        </button>
                        <button type="button" style="color: white; background-color: black;   "
                            class="btn btn-sm btn-outline-dark float-end rounded-pill cardLike">
                            <i class="bi bi-suit-heart"></i>
                        </button>
                        <button type="button" style="color: white; background-color: black;   "
                            class="btn btn-sm btn-outline-dark float-end rounded-pill cardAddPeople">
                            <i class="bi bi-person-plus"></i>
                        </button>
                        <h5 class="card-title cardTitle">Plantation and Afforestation programme</h5>
                        <p class="card-text cardText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore...</p>
                        <div class="mt-1 mb-4">
                            <span class="float-start">Amaze Doctors</span>
                            <span class="float-end">
                                <i class="bi bi-star-fill text-warning "></i>
                                <i class="bi bi-star-fill text-warning "></i>
                                <i class="bi bi-star-fill text-warning "></i>
                                <i class="bi bi-star-fill text-black-50 "></i>
                                <i class="bi bi-star-fill text-black-50 "></i>
                            </span>
                        </div>
                        <br>
                        <div>
                            <div class="cardAction">
                                <span class="text-wrap btn btn-sm btn-outline-dark rounded-pill subAction"
                                    style="background-color: white; color: #757575; ">
                                    Plant 10,000 Trees</span>
                            </div>
                            <hr style=" z-index: -12; margin-left: -4.3%; margin-right: -4.3%;">
                        </div>

                        <div class="row mt-4">
                            <div class="col-5 text-wrap">
                                <span class="cardDedlineSeats"><i class="bi bi-person-check me-2 ms-3"></i>10</span>
                                <br style="margin: 0px;">
                                <span class="cardSmallText ms-4">Seats left</span>
                            </div>

                            <div class="col-1"><i class="bi bi-vinyl"></i></div>
                            <div class="col-5 text-wrap d-inline">
                                <span class="progress" style="height: 10px; margin-top: 8px; width: 100%;">
                                    <span class="progress-bar bg-warning" role="progressbar" aria-label="Basic example"
                                        style="width: 68%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="75">
                                    </span>
                                </span>
                                <span class="cardSmallText ms-5">Dedline</span>
                            </div>
                        </div>
                        <hr style=" margin-left: -4.3%; margin-right: -4.3%;">

                        <div class="cardAction mb-1">
                            <button type="button" class="btn btn-outline-warning rounded-pill"
                                style="margin-left: auto; margin-right: auto;">
                                <span class="text-wrap">Apply</span>
                                <i class="bi bi-arrow-right ms-2"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-4 mb-4">
                <div class="card  cardWidth shadow h-100">
                    <img src="./assets/card_1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="cardTitleAction">
                            <span class="text-wrap btn btn-sm rounded-pill cardTitleSubAction"
                                style="background-color: white; color: #757575; ">
                                Environment</span>
                        </div>
                        <button type="button" style="color: white; background-color: black;   "
                            class="btn btn-sm btn-outline-dark float-end rounded-pill cardLocation">
                            <i class="bi bi-geo-alt"></i>
                            <span class="text-wrap">Toronto</span>
                        </button>
                        <button type="button" style="color: white; background-color: black;   "
                            class="btn btn-sm btn-outline-dark float-end rounded-pill cardLike">
                            <i class="bi bi-suit-heart"></i>
                        </button>
                        <button type="button" style="color: white; background-color: black;   "
                            class="btn btn-sm btn-outline-dark float-end rounded-pill cardAddPeople">
                            <i class="bi bi-person-plus"></i>
                        </button>
                        <h5 class="card-title cardTitle">Grow Trees - On the path to environment sustainability</h5>
                        <p class="card-text cardText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore...</p>
                        <div class="mt-1 mb-4">
                            <span class="float-start cardDedlineSeats">Tree Canada</span>
                            <span class="float-end">
                                <i class="bi bi-star-fill text-warning "></i>
                                <i class="bi bi-star-fill text-warning "></i>
                                <i class="bi bi-star-fill text-warning "></i>
                                <i class="bi bi-star-fill text-black-50 "></i>
                                <i class="bi bi-star-fill text-black-50 "></i>
                            </span>
                        </div>
                        <br>
                        <div>
                            <div class="cardAction">
                                <span class="text-wrap btn btn-sm btn-outline-dark rounded-pill subAction"
                                    style="background-color: white; color: #757575; ">
                                    From 10/01/2019 until 25/02/2019</span>
                            </div>
                            <hr style=" z-index: -12;  margin-left: -4.3%; margin-right: -4.3%;">
                        </div>

                        <div class="row mt-4">
                            <div class="col-6 text-wrap">
                                <span class="cardDedlineSeats"><i class="bi bi-person-check me-2 ms-3"></i>10</span>
                                <br style="margin: 0px;">
                                <span class="cardSmallText ms-4">Seats left</span>
                            </div>
                            <div class="col-6 text-wrap">
                                <span class="cardDedlineSeats"><i class="bi bi-clock me-2 ms-3"></i>03/10/2022</span>
                                <br style="padding: 0px;">
                                <span class="cardSmallText ms-5">Dedline</span>
                            </div>
                        </div>
                        <hr style=" margin-left: -4.3%; margin-right: -4.3%;">

                        <div class="cardAction mb-1">
                            <button type="button" class="btn btn-outline-warning rounded-pill"
                                style="margin-left: auto; margin-right: auto;">
                                <span class="text-wrap">Apply</span>
                                <i class="bi bi-arrow-right ms-2"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-4 mb-4">
                <div class="card  cardWidth shadow h-100">
                    <img src="./assets/card_2.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="cardTitleAction">
                            <span class="text-wrap btn btn-sm rounded-pill cardTitleSubAction"
                                style="background-color: white; color: #757575; ">
                                Children</span>
                        </div>
                        <button type="button" style="color: white; background-color: black;   "
                            class="btn btn-sm btn-outline-dark float-end rounded-pill cardLocation">
                            <i class="bi bi-geo-alt"></i>
                            <span class="text-wrap">Melbouren</span>
                        </button>
                        <button type="button" style="color: white; background-color: black;   "
                            class="btn btn-sm btn-outline-dark float-end rounded-pill cardLike">
                            <i class="bi bi-suit-heart"></i>
                        </button>
                        <button type="button" style="color: white; background-color: black;   "
                            class="btn btn-sm btn-outline-dark float-end rounded-pill cardAddPeople">
                            <i class="bi bi-person-plus"></i>
                        </button>
                        <h5 class="card-title cardTitle">Education Supplies for Every Pair of Shoes Sold</h5>
                        <p class="card-text cardText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore...</p>
                        <div class="mt-1 mb-4">
                            <span class="float-start">Australian Paradise</span>
                            <span class="float-end">
                                <i class="bi bi-star-fill text-warning "></i>
                                <i class="bi bi-star-fill text-warning "></i>
                                <i class="bi bi-star-fill text-warning "></i>
                                <i class="bi bi-star-fill text-black-50 "></i>
                                <i class="bi bi-star-fill text-black-50 "></i>
                            </span>
                        </div>
                        <br>
                        <div>
                            <div class="cardAction">
                                <span class="text-wrap btn btn-sm btn-outline-dark rounded-pill subAction"
                                    style="background-color: white; color: #757575; ">
                                    From 10/01/2019 until 25/02/2019</span>
                            </div>
                            <hr style=" z-index: -12;  margin-left: -4.3%; margin-right: -4.3%;">
                        </div>

                        <div class="row mt-4">
                            <div class="col-6 text-wrap">
                                <span class="cardDedlineSeats"><i class="bi bi-person-check me-2 ms-3"></i>10</span>
                                <br style="margin: 0px;">
                                <span class="cardSmallText ms-4">Seats left</span>
                            </div>
                            <div class="col-6 text-wrap">
                                <span class="cardDedlineSeats"><i class="bi bi-clock me-2 ms-3"></i>03/10/2022</span>
                                <br style="padding: 0px;">
                                <span class="cardSmallText ms-5">Dedline</span>
                            </div>
                        </div>
                        <hr style=" margin-left: -4.3%; margin-right: -4.3%;">

                        <div class="cardAction mb-1">
                            <button type="button" class="btn btn-outline-warning rounded-pill"
                                style="margin-left: auto; margin-right: auto;">
                                <span class="text-wrap">Apply</span>
                                <i class="bi bi-arrow-right ms-2"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-4 mb-4">
                <div class="card  cardWidth shadow h-100">
                    <img src="./assets/card_3.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="cardTitleAction">
                            <span class="text-wrap btn btn-sm rounded-pill cardTitleSubAction"
                                style="background-color: white; color: #757575; ">
                                Nutrition</span>
                        </div>
                        <button type="button" style="color: white; background-color: black;   "
                            class="btn btn-sm btn-outline-dark float-end rounded-pill cardLocation">
                            <i class="bi bi-geo-alt"></i>
                            <span class="text-wrap">Barcelona</span>
                        </button>
                        <button type="button" style="color: white; background-color: black;   "
                            class="btn btn-sm btn-outline-dark float-end rounded-pill cardLike">
                            <i class="bi bi-suit-heart"></i>
                        </button>
                        <button type="button" style="color: white; background-color: black;   "
                            class="btn btn-sm btn-outline-dark float-end rounded-pill cardAddPeople">
                            <i class="bi bi-person-plus"></i>
                        </button>
                        <h5 class="card-title cardTitle">Nourish the Children in African country</h5>
                        <p class="card-text cardText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore...</p>
                        <div class="mt-1 mb-4">
                            <span class="float-start">The Hunger</span>
                            <span class="float-end">
                                <i class="bi bi-star-fill text-warning "></i>
                                <i class="bi bi-star-fill text-warning "></i>
                                <i class="bi bi-star-fill text-warning "></i>
                                <i class="bi bi-star-fill text-black-50 "></i>
                                <i class="bi bi-star-fill text-black-50 "></i>
                            </span>
                        </div>
                        <br>
                        <div>
                            <div class="cardAction">
                                <span class="text-wrap btn btn-sm btn-outline-dark rounded-pill subAction"
                                    style="background-color: white; color: #757575; ">
                                    Ongoing Opportunity</span>
                            </div>
                            <hr style=" z-index: -12;  margin-left: -4.3%; margin-right: -4.3%;">
                        </div>

                        <div class="row mt-4">
                            <div class="col-6 text-wrap">
                                <span class="cardDedlineSeats"><i class="bi bi-person-check me-2 ms-3"></i>10</span>
                                <br style="margin: 0px;">
                                <span class="cardSmallText ms-4">Seats left</span>
                            </div>
                            <div class="col-6 text-wrap">
                                <span class="cardDedlineSeats"><i class="bi bi-clock me-2 ms-3"></i>03/10/2022</span>
                                <br style="padding: 0px;">
                                <span class="cardSmallText ms-5">Dedline</span>
                            </div>
                        </div>
                        <hr style=" margin-left: -4.3%; margin-right: -4.3%;">

                        <div class="cardAction mb-1">
                            <button type="button" class="btn btn-outline-warning rounded-pill"
                                style="margin-left: auto; margin-right: auto;">
                                <span class="text-wrap">Apply</span>
                                <i class="bi bi-arrow-right ms-2"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- endregion Grid View end -->

        <!-- #region Pagenation -->
        <nav aria-label="Page navigation example mt-5 mb-5">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link btn btn-outline-warning me-1" href="#" aria-label="Previous">
                        <span aria-hidden="true"><i class="bi bi-chevron-double-left"></i></span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link btn btn-outline-warning me-1" href="#" aria-label="Previous">
                        <span aria-hidden="true"><i class="bi bi-chevron-left"></i></span>
                    </a>
                </li>
                <li class="page-item me-1"><a class="page-link btn btn-outline-warning" href="#">1</a></li>
                <li class="page-item me-1"><a class="page-link btn btn-outline-warning" href="#">2</a></li>
                <li class="page-item me-1"><a class="page-link btn btn-outline-warning" href="#">3</a></li>
                <li class="page-item me-1"><a class="page-link btn btn-outline-warning" href="#">4</a></li>
                <li class="page-item me-1"><a class="page-link btn btn-outline-warning" href="#">5</a></li>
                <li class="page-item">
                    <a class="page-link btn btn-outline-warning me-1" href="#" aria-label="Next">
                        <span aria-hidden="true"><i class="bi bi-chevron-right"></i></span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link btn btn-outline-warning me-1" href="#" aria-label="Next">
                        <span aria-hidden="true"><i class="bi bi-chevron-double-right"></i></span>
                    </a>
                </li>
            </ul>
        </nav>

        <!-- endregion Pagenation -->

    </div>
